<%= link_to gravatar_for(current_user, size: Settings.pixels.digit_50),
            current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to t("header.profile"), current_user %></span>
<span><%= t "micropost.count", count: current_user.microposts.count %></span>
